/* Place CSS styles here */
body{background-color: rgb(219, 252, 255);
    font-family: "Merriweather", serif;
    color: rgb(24, 112, 153);
    font-size: 16px;
}
h1 {
    background-color: rgb(112, 178, 213);
    font-family: "Karla", sans-serif;
    color: rgb(17, 63, 82);
    font-size: 40px;
}
h3{
    color: rgb(20, 62, 87);
    font-family: "Karla", sans-serif;
    font-size: 25px;
}
